@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.login-form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: auto;
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.home,
.cources,
.timetable {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.progressbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress {
  width: 80%;
}
.footer {
  background: #343a40;
  margin-top: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  color: #ffff;
  font-size: 1rem;
}
